%h1 Paintr

%div#current.box

= text_field_tag 'color', nil, :autofocus => true
= button_tag 'add color', :id => 'add_color'
= text_field_tag 'bg_image', nil
= button_tag 'add image', :id => 'add_image'
= button_tag 'clear', :id => 'clear'

%div#colors

%div#canvas